
__pycache__/
*.pyc

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Flask
instance/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sql